body {
    margin: 0;
    padding: 0;
}

#nav-color {
    color: white;
    padding: 0, 3%;
}

.title {
    padding-top: 15%;
    color: black;

}

.hh {
    margin-bottom: 5%;

}

#h1 {
    font-size: 90px;
    color: rgb(9, 0, 0);
    text-align: left;
    /* use flexbox */
    align-items: left;
}

#h6 {
    font-size: 25px;
}

h1 {
    margin-left: 20%;
}


#DES {
    color: black;

}

#des {
    text-align: center;
}

.content {
    font-size: 20px;
}


.Diagnose {
    /* margin-top: 20%; */
    padding: 5% 0%;
    background-color: aliceblue;
}


.header {
    background-image: url(../static/Images/Picture5.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

}

img {
    position: relative;
}

hr {
    background-color: aqua;
}

.fa-chevron-right {
    color: #209dd8;
}

.fa-brands {
    color: #209dd8;
    padding: 10px 10px;
}

.fa-brands:hover {
    color: #4b86ec;
}

.fon h3,
h4 {
    color: #87b2fd;
}