body {
    padding-top: 0;
}

#nav-color {
    color: rgb(0, 0, 0);
    padding: 0, 5%;
    font-weight: bold;
    font-size: 25px;
}

.title {
    padding-top: 15%;
    color: black;

}

.checker_form,
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.row h2 {
    font-size: 16px;
    color: #000;
    font-weight: blod;
    text-align: left;
}

.row h3 {
    font-size: 20px;
    color: #000;
    font-weight: blod;
    text-align: left;
}

.row button {
    border: none;
    color: #20d84b;
    padding: 10px 20px;
    margin: 20px 0;

}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#percentage-of-prediction {
    font-size: 20px;
    text-align: left;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    justify-content: space-between;

}

.total-box {
    width: 500px;
    height: 560px;
    display: 70px;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;
}

.h1 {
    margin-bottom: 20%;

}

#h1 {
    position: absolute;
    top: 150px;
    font-size: 60px;
    color: rgb(9, 0, 0);
    right: 900px;
    left: 50px;
    /* text-align: left;
    use flexbox 
    align-items: left;*/
    display: flex;
}


/* h2 {
    color: black;
    font-size: 16px;
} */


#DES {
    color: black;

}

#des {
    text-align: center;
}

#des1 {
    text-align: center;
}

.content {
    font-size: 20px;
}

.text-right {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
.h5{
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 2rem;
    font-weight: bold;
}

p3 {
    position: absolute;
    border: 6px solid rgb(9, 39, 3);
    font-size: 20px;
    top: 300px;
    right: 70px;
    left: 1100px;
    color: rgb(2, 7, 46);
    font-weight: bold;
    padding: 12px;
    margin-bottom: 30px;
    /* change "red" to the color you want */
}

.Diagnose {
    padding: 2% 0%;
    background-color: aliceblue;
}


.header {
    background-image: url(../static/Images/Picture5.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

}

/*
.box {
    width: 200px;
    height: 400px;
}*/

img {
    position: static;
}

hr {
    background-color: aqua;
}

.fa-chevron-right {
    color: #20d84b;
}

.fa-brands {
    color: #20d832;
    padding: 10px 10px;
}

.fa-brands:hover {
    color: #4bec60;
}

.fon h3,
h4 {
    color: #87b2fd;
}
.header-text {
    font-size: 28px;
}
.Diagnose {
    margin: 80px 0;
}
