<!DOCTYPE html>
<html>

<head>
    <title>Skin Disease Classifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Skin Disease Classifier</h1>
    </header>
    <main>
        <div class="container">
            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" id="file-input" name="file">
                <button type="submit">Upload</button>
            </form>
            <div id="image-container" class="hidden">
                <img id="uploaded-image" src="#" alt="Uploaded Image">
            </div>
            <div id="result-container" class="hidden">
                <h2>Prediction Result:</h2>
                <p id="result-class"></p>
                <p id="confidence-score"></p>
            </div>
            <div id="error-container" class="hidden">
                <p id="error-message"></p>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>